<h1>Okay!</h1>
<p><% 'Hi!<b>b</b>' %></p>
<p><%= 'Hi!<b>b</b>' %></p>
test %> okay <| test <br/>
<% var a = "hi!"; %>

<h2><%= a %></h2>

<% if(a == "hi!"){ %>
	a == "hi!"
<% } %>

<% for(var i = 6; i > 0; i--){ %>
	<%= i %> Bottles of beer on the wall, <%= i %> bottles of beer <br/>
<% } %>

